{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    {% if wish is defined %}
        <div class="wish-detail-container">
            <div class="wish-card">
                <h2 >{{ wish.title }}</h2>

                <p>{{ wish.description }}</p>

                <p><strong>Auteur :</strong> {{ wish.author }}</p>

                <p>
                    <small>Créé le : {{ wish.dateCreated|date('d/m/Y') }}</small><br>
                    <!--{% if wish.dateUpdated is not null %}
                        <small>Modifié le : {{ wish.dateUpdated|date('d/m/Y') }}</small>
                    {% endif %} -->
                </p>

                <div class="wish-actions">
                    <a href="{{ path('wish_list') }}">Retour à la liste</a>
                    <a href="{{ path('wish_delete', { id: wish.id }) }}" class="btn-primary">Supprimer</a>
                    <a href="{{ path('wish_update', { id: wish.id }) }}" class="btn-primary">Modifier</a>
                </div>
            </div>
        </div>
    {% else %}
        <p>Le souhait demandé n'existe pas.</p>
    {% endif %}

{% endblock %}
