{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    {% if wish is defined %}
        <div class="wish-detail-container">
            <div class="wish-card">
                <h2 class="uk-card-title">{{ wish.title }}</h2>

                <p>{{ wish.description }}</p>

                <p><strong>Auteur :</strong> {{ wish.author }}</p>

                <p>
                    <small>Créé le : {{ wish.dateCreated|date('d/m/Y') }}</small><br>
                    <!--{% if wish.dateUpdated is not null %}
                        <small>Modifié le : {{ wish.dateUpdated|date('d/m/Y') }}</small>
                    {% endif %} -->
                </p>

                <a href="{{ path('wish_listpage') }}" >
                    Retour à la liste
                </a>
            </div>
        </div>
    {% else %}
        <p>Le souhait demandé n'existe pas.</p>
    {% endif %}


{% endblock %}
