{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <section class="nav-page">
        {% if page > 1 %}
            <a href="{{ path('wish_list', { page: page - 1 }) }}">Page précédente</a>
        {% endif %}
        {% if page < total_pages %}
            <a href="{{ path('wish_list', { page: page + 1 }) }}">Page suivante</a>
        {% endif %}
    </section>
    <div class="page-container">
        <h2 ><span>LISTES DES SOUHAITS</span></h2>

        <div class="wish-list">
            {% for wish in wishes %}
                <div class="wish-card">
                    <h3>{{ wish.title }}</h3>
                    <p>{{ wish.description|slice(0, 100) ~ '...' }}</p>

                    <div class="card-actions">
                        <a href="{{ path('wish_detailpage', {'id': wish.id}) }}">Voir</a>

                    </div>
                </div>
            {% else %}
                <p>Aucun souhait pour le moment.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
