<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bucket List{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/favicon.png') }}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/mario.css') }}">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>


<body>
<header>
    {% block header %}
        <span>
            <img src="{{ asset('images/logo.png') }}" alt="logo">
        </span>
        <span>
            <h1>BUCKET LIST</h1>
        </span>
        <nav class="nav-page">
            <a href="{{ path('app_main') }}">
                <img class="icon" src="{{ asset('images/logo.png') }}" width="25px" alt="Accueil"/>
                Accueil
            </a>
            {% if is_granted('IS_AUTHENTICATED') %}
            <a href="{{ path('wish_list') }}">
                <img class="icon" src="{{ asset('images/checklist.png') }}" width="30px" alt="Voir la liste"/>
                Voir la liste
            </a>
            <a href="{{ path('app_aboutus') }}">
                <img class="icon" src="{{ asset('images/client.png') }}" width="30px" alt="About Us"/>
                About Us
            </a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('wish_create') }}">
                <img class="icon" src="{{ asset('images/carnet.png') }}" width="30px" alt="Créer un souhait"/>
                Créer un souhait
            </a>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED') %}
            <a href="{{ path('app_logout') }}">
                <img class="icon" src="{{ asset('images/logout.png') }}" width="30px" alt="About Us"/>
                Se déconnecter
            </a>
            {% else %}
            <a href="{{ path('app_login') }}">
                <img class="icon" src="{{ asset('images/login.png') }}" width="30px" alt="About Us"/>
                Se connecter
            </a>
            <a href="{{ path('app_register') }}">
                <img class="icon" src="{{ asset('images/register.png') }}" width="30px" alt="About Us"/>
                S'enregistrer
            </a>
            {% endif %}
        </nav>

    {% endblock %}
</header>
<span>
        {% for type , messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
</span>
<main>

    {% block body %}





    {% endblock %}
</main>
</body>
<footer>
    &copy; Bucket-List {{ "now"|date("Y") }}

</footer>

</html>
