<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bucket List{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/favicon.png') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>


<body>
<header>
    {% block header %}
        <span>
            <img src="{{ asset('images/logo.png') }}" alt="logo">
        </span>
        <span>
            <h1>BUCKET LIST</h1>
        </span>

        <nav class="nav-bar">
            <div>
                <ul class="nav-list">

                        <a href="{{ path('app_main') }}">
                            <span uk-icon="icon: home"></span>
                            Accueil
                        </a>

                        <a href="{{ path('wish_list') }}">
                            <img src="{{ asset('images/checklist.png') }}" width="30px" alt="Checklist icon">
                            Voir la liste
                        </a>

                        <a href="{{ path('wish_create') }}">
                            <img src="{{ asset('images/carnet.png') }}" width="30px" alt="Checklist icon">
                            Créer un souhait
                        </a>

                        <a href="{{ path('app_aboutus') }}">
                            <img src="{{ asset('images/client.png') }}" width="30px" alt="Checklist icon">
                            About Us
                        </a>

                </ul>
            </div>
        </nav>
        {% for type , messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
</header>
<main>

    {% block body %}





    {% endblock %}
</main>
</body>
<footer>
    &copy; Bucket-List {{ "now"|date("Y") }}

</footer>

</html>
